# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.s

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS specific files
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cache/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs and databases
*.log
*.sqlite3

# Package files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.env.local
.venv
.env.*
pip-log.txt
pip-delete-this-directory.txt

# VS Code settings
.vscode/
*.code-workspace

# PyCharm settings
.idea/

# Other files
.csv